html, body
{
    height : 100%;
}
body{
    margin:0;
}
.container{
    height:100%;
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */
    scroll-snap-type: y proximity;
}

.panel{
    height: 70%;
    text-align: center;
    font-size:4rem;
    scroll-snap-align: end;
}

.panel-one{background-color: orange;}
.panel-two{background-color: tan;}
.panel-three{background-color: gold;}