/* body {
    background-color:OW206-1;
    margin:0
} */

.container {
    text-align: center;
}

.bounding {
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

.bounding a {
    float: left;
    width: 200px;
    height: 200px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-position: center;
    border-radius: 25px;
}

.bounding a:hover {
    background-color: #ddd;
    color: black;
}

.bounding a.active {
    background-color: #04AA6D;
    color: white;
}

#box1 {
    position: absolute;
    left: 30px;
    top: 70px;
    display: inline-block;
    background: url(computer.png);
    background-size: 350px;
    background-position: 0% 70%;
}

#box2 {
    position: absolute;
    left: 250px;
    top: 70px;
    display: inline-block;
    background: url(wealth.png);
    background-size: 400px;
    background-position: 95% 0%;
}

#box3 {
    position: absolute;
    left: 470px;
    top: 70px;
    display: inline-block;
    background: url(balloon.jpg);
    background-size: 350px;
    background-position: center;
}

#box4 {
    position: absolute;
    left: 30px;
    top: 300px;
    display: inline-block;
    background: url(portrait.png);
    background-size: 200px;
    background-position: center;
}

#box5 {
    position: absolute;
    left: 250px;
    top: 300px;
    display: inline-block;
    background: url(eye.png);
    background-size: 200px;
    background-position: center;
}

#box6 {
    position: absolute;
    left: 470px;
    top: 300px;
    display: inline-block;
    background: url(threebody.png);
    background-size: 200px;
    background-position: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}