/* body {
    background-color:OW206-1;
    margin:0
} */

button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: #949599;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
}

button:hover {
    background: salmon;
}

body {
    margin: 0;
    background-color: rgb(10, 10, 10);
}