.container
{
    top:-210px;
    left: -220px;
    position: relative;
    width:100vw;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    transform: scale(0.9)
}


.back {
    position: absolute;
    top: 260px;
    left: 220px;
    width: 400px;
    height: 400px;
    background: url('grey.gif');
    border-radius: 100%;
    transform: scale(2.1)
}

.back_move
{
    position: absolute;
    top: 260px;
    left: 220px;
}

.lung {
    position: absolute;
    top: 340px;
    left: 260px;
    transform: scale(1.9);
}


.head
{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8)
}



.face
{
    background: #ffcc8f;
    top: -90px;
    left: 100px;
    width: 750px;
    height: 700px;
    position: absolute;
    bottom: 0;
    clip-path: polygon(40% 44%, 49% 39%, 47% 48%, 53% 50%, 49% 57%, 60% 64%, 46% 75%, 41% 63%, 30% 63%, 30% 51%, 25% 50%, 30% 44%);
}



.hair {
    top: -75px;
    left: 100px;
    width: 700px;
    height: 700px;
    position: absolute;
    background: #191210;
    bottom: 0;
    clip-path: polygon(50% 37%, 43% 43%, 29% 43%, 31% 25%, 61% 26%, 69% 39%, 68% 51%, 77% 52%, 65% 66%, 49% 59%, 52% 50%, 46% 48%);
}

.eye {
    top: 230px;
    left: 279px;
    width: 80px;
    height: 10px;
    position: absolute;
    background: blue;
    border-radius: 0%;
}

.eye2 {
    top: 220px;
    left: 280px;
    width: 100px;
    height: 30px;
    position: absolute;
    background: grey;
    border-radius: 0%;
}







