* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}

section {
    height: 100vh;
    width: 100vw;
    color: black;
}

section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
}


/* animation */

.empty {
    position: relative;
    width: 10vh;
    height: 7vh;
    background-color: aliceblue;
    opacity: 0;
}

.app_block {
    float: left;
    width: 7vh;
    height: 5vh;
}


/* first list off app */

.square {
    position: relative;
    width: 200vw;
    height: 40vh;
    transform: translateX(-1000px);
}

.app1 {

    float: left;
    width: 80vh;
    height: 40vh;
    background-size: 90vh;
    background-image: url(skin1.webp);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.app1:hover {
    background-color: #ddd;
    transform: scale(1.1);
}


a.large:link, a.large:visited {
    width: 80vh;
    height: 40vh;
    border-radius: 25px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  




.app2 {
    float: left;
    width: 40vh;
    height: 40vh;
    background-size: 80vh;
    background-image: url(glass.gif);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.app2:hover {
    transform: scale(1.1);
}


a.small:link, a.small:visited {
    width: 40vh;
    height: 40vh;
    border-radius: 25px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* second list of app */

.square_2 {
    position: relative;
    width: 200vw;
    height: 40vh;
    transform: translateX(1000px);
}

.app3 {
    float: left;
    width: 40vh;
    height: 40vh;
    background-size: 90vh;
    background-image: url(line.gif);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.app3:hover {
    transform: scale(1.1);
}

.app4 {
    float: left;
    width: 80vh;
    height: 40vh;
    background-size: 90vh;
    background-image: url(skin2.webp);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.app4:hover {
    transform: scale(1.1);
}

.square_3 {
    width: 400px;
    height: 400px;
    background-size: 600px;
    background-image: url(glass.gif);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-1000px);
    border-radius: 25px;
}

.square_4 {
    width: 400px;
    height: 400px;
    background-size: 600px;
    background-image: url(glass.gif);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(1000px);
    border-radius: 25px;
}



