body {
    margin: 0;
}

.div1,
.div2 {
    height: 100vh;
}

.div1 {
    background-color: pink;
}

.div2 {
    background-image: url("map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.empty {
    position: relative;
    width: 1500px;
    height: 100px;
    background-color: aliceblue;
    opacity: 0;
}

.square {
    position: relative;
    width: 1500px;
    height: 100px;
    transform: translateX(-1000px);
    background: url('chain.png');
    background-size: 800px;
}

.square_2 {
    position: relative;
    width: 1500px;
    height: 100px;
    transform: translateX(1000px);
    background: url('chain.png');
    background-size: 800px;
}

.square_3 {
    position: relative;
    width: 1500px;
    height: 100px;
    transform: translateX(-1000px);
    background: url('chain.png');
    background-size: 800px;
}

.square_4 {
    position: relative;
    width: 1500px;
    height: 100px;
    transform: translateX(1000px);
    background: url('chain.png');
    background-size: 800px;
}

.red {
    background-color: red;
}